[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
torch = ">=2.2.1"
transformers = ">=4.28.1"
fastapi = ">=0.95.2"
uvicorn = ">=0.22.0"

[dev-packages]

[requires]
python_version = "3.12"
